/*Universal*/

:root {
  --brand-base: #395144;
  --brand-btn: #4e6c50;
  --body-bg: #f0ebce;
  --header-txt: white;
  --post-bg: #eaeaea;
  --btnclr: #4e6c50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
.blog-specific-container {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--body-bg);
}

a {
  color: white;
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 0.7rem;
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.read-more-btn,
.load-more-btn {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  height: 100px;
  max-width: 100%;
  background-color: var(--brand-base);
}

.logo img {
  height: 30px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}

.nav-link {
  transition: 0.7 ease;
}

.nav-link:hover {
  color: var(--body-bg);
}

.footer-content {
  padding-top: 20px;
}

/* Universal hero content*/

.bg-img {
  z-index: -2;
  position: relative;
  object-fit: cover;
  width: 100%;
}

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  background: #4e6c50c7;
}

.text-section {
  padding-top: 50px;
  position: absolute;
  text-align: center;
  left: 12.5%;
  right: 12.5%;
  color: var(--header-txt);
}

/* Universal main content*/

.main-content {
  padding: 50px 0;
}

.main-content {
  gap: 10px;
  width: 70%;
  margin: auto;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-title {
  padding-top: 40px;
  text-align: center;
}

/* Universal carousel */

.wrapper h3 {
  font-size: 0.7rem;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.arrows {
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper i {
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--brand-base);
  width: 50px;
  height: 50px;
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3.2) - 12px);
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel .card {
  list-style: none;
  background: var(--post-bg);
  color: black;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 260px;
  font-size: 0.7rem;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

/* Universal blog post*/

.blog-post-h1 {
  padding-bottom: 30px;
}

.blog-post-cards {
  display: grid;
  gap: 80px;
}

.blog-post-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 10px;
  font-size: 1rem;
  color: black;
}

.blog-post-content {
  gap: 8px;
}

.blog-post-cards {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

/* Load more btn*/

.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  background-color: var(--brand-btn);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin: 50px;
}

.load-more-btn:hover {
  transition: 0.3s;
  background-color: #5f8370;
}

/* Universal about us */

.hero-top-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-box {
  background-color: var(--brand-base);
  border-radius: 20px;
  text-align: left;
  padding: 20px;
  line-height: 1.5;
  color: white;
}

.width40-about {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 30px 0;
  margin: auto;
  padding: 100px 0;
}

.width90 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.text-section-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 90px;
  background-color: rgba(0, 0, 0, 8%);
}

/* Universal contact us*/

.hero-top,
.hero-top-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
}

.form-content {
  padding: 40px 0;
}

.submit-btn {
  background-color: #4e6c50;
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.message-box {
  margin-bottom: 30px;
}

/* Footer */

.footer-content-text2 p {
  border-bottom: 1px solid;
}

.footer-content-text2 p:hover {
  color: var(--body-bg);
}

/* Hide stuff */

.hidden-link {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hide-btn {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile GLOBAL */

@media (max-width: 48em) {
  /* Hero page mobile */

  .hamburger {
    display: block;
  }

  .nav-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    flex-direction: column;
    top: 100px;
    right: -100%;
    background-color: var(--brand-base);
    text-align: center;
    padding: 20px 20px;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    --webkit-transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .overlay {
    height: 350px;
  }

  .bg-img {
    height: 250px;
  }

  .main-content {
    padding-top: 20px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
  }

  /* Carousel styling Mobile*/

  .main-content-title,
  .carousel-title,
  .blog-post-h1 {
    font-size: 1.1rem;
  }

  .wrapper h3 {
    font-size: 0.5rem;
  }

  .card .img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .carousel .card {
    list-style: none;
    background: var(--post-bg);
    color: black;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 190px;
    font-size: 0.7rem;
  }

  .carousel-title {
    padding-bottom: 40px;
  }

  .main-content-desc {
    padding: 20px 0;
  }

  .main-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: top;
  }

  .main-content-title {
    padding-bottom: 20px;
  }

  .main-content-img {
    width: 70%;
    margin: auto;
  }

  /*Footer content*/

  footer {
    background-color: var(--brand-base);
    color: white;
  }

  .footer-content {
    width: 90%;
    margin: auto;
  }

  .footer-logo {
    display: flex;
    padding-top: 10px;
    margin: auto;
    height: 40px;
  }

  .footer-line {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
  }

  .footer-content-text,
  .footer-content-text3 {
    padding-bottom: 20px;
  }

  .footer-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
  }

  .footer-content-text1 {
    text-align: left;
  }

  .footer-content-text2 {
    text-align: left;
    line-height: 1.5;
  }

  .h3-footer {
    font-size: 1rem;
    font-weight: 500;
  }

  .p-footer {
    font-size: 0.8rem;
  }

  .fa-brands {
    padding-top: 10px;
    font-size: 1rem;
  }

  /* Blog post page */

  .width90 {
    padding: 30px 0;
    width: 90%;
  }

  .load-more-btn {
    font-size: 0.8rem;
  }

  .load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: var(--brand-btn);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin: 50px;
  }

  .blog-postcard-img {
    object-fit: contain;
    width: 100%;
  }

  .blog-post-content-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 0.8rem;
  }

  .read-more-btn {
    background-color: var(--btnclr);
    height: 30px;
    width: 90px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
  }

  .read-more-btn a {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Blog specific page */

  .blog-specific-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .blog-specific-text {
    font-size: 1.3rem;
    text-align: left;
    padding: 20px 0;
  }

  /* About page */

  .overlay2 {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
    background: rgba(0, 0, 0, 0.842);
  }

  .about-logo {
    height: 100px;
  }

  .about-title {
    font-size: 1.1rem;
    padding-bottom: 10px;
  }

  .about-us-box h2 {
    text-align: center;
    padding-bottom: 25px;
  }

  .about-us-box h3 {
    padding-top: 25px;
    font-size: 1rem;
  }

  .width40-about {
    width: 70%;
  }

  /* Contact us page */

  .text-section-contact {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 12.5%;
    right: 12.5%;
    padding: 0 20px;
    color: var(--header-txt);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 450px;
    width: 300px;
    background-color: var(--brand-base);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 40px;
  }

  .form-group input {
    height: 30px;
  }

  .form-group textarea,
  .form-group input {
    font-size: 1.1rem;
    padding-left: 10px;
  }
}

/* Desktop GLOBAL */

@media (min-width: 48em) {
  /* Home page desktop*/

  .logo img {
    height: 35px;
  }

  .nav-bar {
    padding: 0 50px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .nav-bar li a:hover {
    padding: 5px 0;
    border-bottom: 1px solid var(--body-bg);
    transition: 0s;
  }

  /* Main content desktop*/

  .text-section h1 {
    font-size: 2rem;
    padding-bottom: 10px;
  }

  .main-content h2 {
    font-size: 1.5rem;
  }

  .text-section p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .text-section p {
    padding: 0 180px;
  }
  .main-content {
    padding-top: 50px;
  }

  .main-content h2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  .overlay {
    height: 500px;
  }

  .bg-img {
    width: 50%;
  }

  .main-content-img {
    height: 300px;
    object-fit: scale-down;
    margin: auto;
    float: right;
    margin-left: 50px;
  }

  .main-row {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 30px;
  }

  .main-row p {
    font-size: 1.2rem;
    text-align: left;
  }

  .carousel {
    padding: 40px 0;
  }

  .carousel-title {
    font-size: 1.5rem;
  }

  .hero-post-content-title {
    width: 60%;
  }

  .footer-bg1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Blog post desktop */

  .blog-specific-container {
    font-size: 1rem;
    line-height: 1.5;
  }

  .width90 {
    padding: 30px 0;
    width: 90%;
  }

  .blog-postcard-img {
    object-fit: contain;
    width: 100%;
  }

  .read-more-btn,
  .load-more-btn {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
  }

  .read-more-btn {
    background-color: var(--btnclr);
    height: 30px;
    width: 90px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
  }

  .read-more-btn:hover {
    transition: 0.3s;
    background-color: #5f8370;
  }

  /* About page desktop */

  .text-section {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0);
  }

  .bg-img {
    width: 100%;
    height: 400px;
    object-position: bottom 35%;
    object-fit: cover;
  }

  .overlay2 {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.842);
  }

  .about-logo {
    align-items: center;
    height: 150px;
  }

  .about-title {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .about-us-box h2 {
    text-align: center;
    padding-bottom: 25px;
  }

  .about-title p {
    font-size: 1.2rem;
  }

  .about-us-box h3 {
    padding-top: 25px;
    font-size: 1.2rem;
  }

  .width40-about {
    width: 40%;
  }

  /*Contact us desktop*/

  .text-section-contact {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 12.5%;
    right: 12.5%;
    padding: 0 20px;
    color: var(--header-txt);
  }

  .form-container label {
    font-size: 1.2rem;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    width: 350px;
    background-color: var(--brand-base);
    border-radius: 20px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 40px;
  }

  .form-group input {
    height: 40px;
  }

  .form-group textarea,
  .form-group input {
    font-size: 1.3rem;
    padding-left: 10px;
  }

  /*Footer content desktop*/

  footer {
    background-color: var(--brand-base);
    color: white;
  }

  .footer-content {
    width: 90%;
    margin: auto;
  }

  .footer-logo {
    display: flex;
    padding-top: 10px;
    margin: auto;
    height: 60px;
  }

  .footer-line {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
  }

  .footer-content-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .footer-content-text1 {
    text-align: left;
  }

  .footer-content-text2 {
    text-align: left;
  }

  .footer-content-text2 p {
    line-height: 2;
    cursor: pointer;
  }

  .footer-content-text3 {
    text-align: left;
    width: 35%;
  }

  .h3-footer {
    font-weight: 500;
  }

  .p-footer {
    line-height: 1.5;
  }

  .fa-brands {
    padding-top: 10px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2.5) - 12px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1.8) - 12px);
  }
}
